[submodule "Vendor/libebml"]
	path = Vendor/libebml
	url = https://github.com/MaddTheSane/libebml.git
[submodule "Vendor/libmatroska"]
	path = Vendor/libmatroska
	url = https://github.com/Matroska-Org/libmatroska.git
