<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AAC</key>
	<array>
		<string>mp4a</string>
	</array>
	<key>Apple Animation</key>
	<array>
		<string>rle </string>
	</array>
	<key>Apple Graphics</key>
	<array>
		<string>smc </string>
	</array>
	<key>Apple Video</key>
	<array>
		<string>rpza</string>
	</array>
	<key>CEA 608</key>
	<array>
		<string>c608</string>
	</array>
	<key>Cinepak</key>
	<array>
		<string>cvid</string>
	</array>
	<key>DPX</key>
	<array>
		<string>dpx </string>
	</array>
	<key>DTS</key>
	<array>
		<string>DTS </string>
		<string>dtsh</string>
		<string>dtsl</string>
		<string>dtsc</string>
	</array>
	<key>DV</key>
	<array>
		<string>dvh1</string>
		<string>CDV5</string>
		<string>dv5n</string>
		<string>dvis</string>
		<string>dvh4</string>
		<string>dvpp</string>
		<string>dv5p</string>
		<string>dvsd</string>
		<string>pdvc</string>
		<string>dvhd</string>
		<string>SL25</string>
		<string>dvcp</string>
		<string>CDVH</string>
		<string>SLDV</string>
		<string>dv25</string>
		<string>dvh2</string>
		<string>dvh6</string>
		<string>dvcs</string>
		<string>dvh5</string>
		<string>dvc </string>
		<string>dvhq</string>
		<string>AVdv</string>
		<string>dv50</string>
		<string>dvhp</string>
		<string>AVd1</string>
		<string>dvsl</string>
		<string>cdvc</string>
		<string>dvh3</string>
	</array>
	<key>DV Audio</key>
	<array>
		<string>dvca</string>
		<string>vdva</string>
	</array>
	<key>H.263</key>
	<array>
		<string>H263</string>
		<string>h263</string>
		<string>s263</string>
	</array>
	<key>H.264</key>
	<array>
		<string>ai12</string>
		<string>ai16</string>
		<string>ai52</string>
		<string>ai15</string>
		<string>ai13</string>
		<string>ai5q</string>
		<string>ai1p</string>
		<string>ai55</string>
		<string>ai1q</string>
		<string>avc1</string>
		<string>AVin</string>
		<string>ai53</string>
		<string>aivx</string>
		<string>ai5p</string>
		<string>ai56</string>
	</array>
	<key>H.265</key>
	<array>
		<string>hev1</string>
		<string>hvc1</string>
	</array>
	<key>Indeo 2</key>
	<array>
		<string>RT21</string>
	</array>
	<key>Indeo 3</key>
	<array>
		<string>IV31</string>
		<string>IV32</string>
	</array>
	<key>Indeo 4</key>
	<array>
		<string>IV41</string>
	</array>
	<key>Indeo 5</key>
	<array>
		<string>IV50</string>
	</array>
	<key>JPEG 2000</key>
	<array>
		<string>mjp2</string>
		<string>MJ2C</string>
		<string>LJ2K</string>
		<string>IPJ2</string>
		<string>LJ2C</string>
	</array>
	<key>Linear PCM</key>
	<array>
		<string>fl32</string>
		<string>fl64</string>
		<string>sowt</string>
		<string>in32</string>
		<string>lpcm</string>
		<string>raw </string>
		<string>twos</string>
		<string>in24</string>
		<string>NONE</string>
	</array>
	<key>MPEG 1</key>
	<array>
		<integer>16777232</integer>
		<string>PIM1</string>
		<string>mpg1</string>
		<string>mpg2</string>
		<string>VCR2</string>
		<string>BW10</string>
		<string>m1v1</string>
		<string>m1v </string>
		<string>mpeg</string>
		<string>XMPG</string>
	</array>
	<key>MPEG 2</key>
	<array>
		<string>xdv5</string>
		<string>DVR </string>
		<string>hdv1</string>
		<string>hdv6</string>
		<string>hdv9</string>
		<string>hdva</string>
		<string>mx4n</string>
		<string>LMP2</string>
		<string>xdv7</string>
		<string>xdhd</string>
		<string>mp2v</string>
		<string>MPEG</string>
		<string>xdv8</string>
		<string>mx3n</string>
		<string>xdvc</string>
		<string>xdvb</string>
		<string>mx5p</string>
		<string>xdv3</string>
		<string>xdvd</string>
		<string>xdvf</string>
		<string>xdv2</string>
		<string>xdh2</string>
		<string>mpgv</string>
		<string>xd5e</string>
		<string>MMES</string>
		<string>xd5c</string>
		<integer>33554448</integer>
		<string>xdv1</string>
		<string>slif</string>
		<string>hdv3</string>
		<string>xdve</string>
		<string>xd5f</string>
		<string>m2v1</string>
		<string>xd51</string>
		<string>PIM2</string>
		<string>xd5a</string>
		<string>hdv4</string>
		<string>AVmp</string>
		<string>xd59</string>
		<string>xdv4</string>
		<string>mx4p</string>
		<string>hdv8</string>
		<string>mx3p</string>
		<string>xd5b</string>
		<string>xdv6</string>
		<string>xd55</string>
		<string>xdv9</string>
		<string>mx5n</string>
		<string>EM2V</string>
		<string>xd5d</string>
		<string>mpg2</string>
		<string>xdva</string>
		<string>hdv2</string>
		<string>xd54</string>
		<string>hdv7</string>
		<string>hdv5</string>
		<string>M701</string>
	</array>
	<key>MPEG 4</key>
	<array>
		<string>SEDG</string>
		<string>M4T3</string>
		<string>MP4S</string>
		<string>DIV1</string>
		<string>mp4v</string>
		<string>BLZ0</string>
		<string>FVFW</string>
		<string>EPHV</string>
		<string>INMC</string>
		<string>DX50</string>
		<string>3IV2</string>
		<string>M4S2</string>
		<string>VSPX</string>
		<string>RMP4</string>
		<string>XVID</string>
		<string>DIGI</string>
		<string>ULDX</string>
		<string>SM4V</string>
		<string>MVXM</string>
		<string>WV1F</string>
		<string>DXGM</string>
		<string>DCOD</string>
		<string>FMP4</string>
		<string>UMP4</string>
		<string>WAWV</string>
		<string>FFDS</string>
		<string>PM4V</string>
		<string>GEOV</string>
		<string>DreX</string>
		<string>PLV1</string>
		<integer>67108864</integer>
		<string>M4CC</string>
		<string>GEOX</string>
		<string>HDX4</string>
		<string>DIVX</string>
		<string>SMP4</string>
		<string>EM4A</string>
		<string>SN40</string>
		<string>SIPP</string>
		<integer>67108880</integer>
		<string>QMP4</string>
		<string>XVIX</string>
		<string>DMK2</string>
		<string>VIDM</string>
	</array>
	<key>MS RLE</key>
	<array>
		<string>mrle</string>
		<integer>33554432</integer>
		<integer>16777216</integer>
		<string>WRLE</string>
	</array>
	<key>MS Video 1</key>
	<array>
		<string>wham</string>
		<string>msvc</string>
		<string>cram</string>
		<string>CRAM</string>
		<string>WHAM</string>
		<string>MSVC</string>
	</array>
	<key>MS-MPEG4v1</key>
	<array>
		<string>MPG4</string>
		<string>MP41</string>
	</array>
	<key>MS-MPEG4v2</key>
	<array>
		<string>DIV2</string>
		<string>MP42</string>
	</array>
	<key>MS-MPEG4v3</key>
	<array>
		<string>DIV4</string>
		<string>AP41</string>
		<string>3IVD</string>
		<string>DVX3</string>
		<string>MP43</string>
		<string>DIV3</string>
		<string>COL1</string>
		<string>COL0</string>
		<string>DIV6</string>
		<string>DIV5</string>
		<string>MPG3</string>
	</array>
	<key>Motion JPEG</key>
	<array>
		<string>mjpb</string>
		<string>AVRn</string>
		<string>dmb1</string>
		<string>jpeg</string>
		<string>mjpa</string>
		<string>AVDJ</string>
	</array>
	<key>OpenEXR</key>
	<array>
		<string>exr </string>
	</array>
	<key>Planar RGB</key>
	<array>
		<string>8BPS</string>
	</array>
	<key>ProRes</key>
	<array>
		<string>apch</string>
		<string>ap4h</string>
		<string>apco</string>
		<string>apcn</string>
		<string>apcs</string>
	</array>
	<key>QuickDraw</key>
	<array>
		<string>qdrw</string>
	</array>
	<key>Raw Text</key>
	<array>
		<string>text</string>
		<string>tx3g</string>
	</array>
	<key>Raw Video</key>
	<array>
		<string>Y411</string>
		<string>raw </string>
		<string>v408</string>
		<string>AVUI</string>
		<string>r210</string>
		<string>Y41B</string>
		<string>bxyv</string>
		<string>YUNV</string>
		<string>VDTZ</string>
		<string>V422</string>
		<string>AV1x</string>
		<string>DVOO</string>
		<string>R411</string>
		<string>NV12</string>
		<string>YUV9</string>
		<string>IYUV</string>
		<string>ABGR</string>
		<string>L565</string>
		<string>bxy2</string>
		<string>YV24</string>
		<string>HDYC</string>
		<string>UYNV</string>
		<string>bxbg</string>
		<string>RGBA</string>
		<string>AVrp</string>
		<string>VYUY</string>
		<string>YVU9</string>
		<string>yuv4</string>
		<string>uyv1</string>
		<string>YV16</string>
		<string>YVYU</string>
		<string>NV21</string>
		<string>YUY2</string>
		<string>bxrg</string>
		<string>Y41P</string>
		<string>yuv2</string>
		<string>auv2</string>
		<string>2vuy</string>
		<string>UYVY</string>
		<string>BGRA</string>
		<string>b16g</string>
		<string>v308</string>
		<string>v210</string>
		<string>b48r</string>
		<string>2Vu1</string>
		<string>Y42B</string>
		<string>YV12</string>
		<string>R420</string>
		<string>24BG</string>
		<string>I420</string>
		<string>Y800</string>
		<string>L555</string>
		<string>yuvs</string>
		<string>UYNY</string>
		<string>v410</string>
		<string>Y8  </string>
		<string>SUDS</string>
		<string>AVup</string>
		<integer>50331664</integer>
		<string>R10k</string>
		<string>Y422</string>
		<string>B565</string>
		<string>P422</string>
		<string>R10g</string>
		<string>NO16</string>
	</array>
	<key>SGI</key>
	<array>
		<string>sgi </string>
	</array>
	<key>SGI RLE</key>
	<array>
		<string>rle1</string>
	</array>
	<key>Snow</key>
	<array>
		<string>SNOW</string>
	</array>
	<key>Sorenson Video</key>
	<array>
		<string>svqi</string>
		<string>svq1</string>
		<string>SVQ1</string>
		<string>SVQ3</string>
	</array>
	<key>Speex</key>
	<array>
		<string>SPXN</string>
		<string>spex</string>
	</array>
	<key>VP3</key>
	<array>
		<string>VP31</string>
		<string>VP30</string>
	</array>
	<key>VP5</key>
	<array>
		<string>VP50</string>
	</array>
	<key>VP6</key>
	<array>
		<string>VP6F</string>
		<string>VP60</string>
		<string>VP62</string>
		<string>VP61</string>
		<string>FLV4</string>
	</array>
	<key>VP8</key>
	<array>
		<string>VP80</string>
	</array>
	<key>WMA 2</key>
	<array>
		<string>WMA2</string>
	</array>
	<key>WMV</key>
	<array>
		<string>GXVE</string>
		<string>WMV2</string>
		<string>WMV1</string>
		<string>WMV3</string>
	</array>
	<key>ac3</key>
	<array>
		<string>sac3</string>
		<string>ac-3</string>
	</array>
	<key>mp1</key>
	<array>
		<string>.mp1</string>
	</array>
	<key>mp2</key>
	<array>
		<string>.mp2</string>
		<integer>1836253264</integer>
	</array>
	<key>mp3</key>
	<array>
		<string>.mp3</string>
		<integer>1836253269</integer>
	</array>
	<key>zlib</key>
	<array>
		<string>ZLIB</string>
	</array>
</dict>
</plist>
